.authPage{
    .login-header{
        margin-top: 50px; 
        height: 280px;
    }
    .logo{
        position: absolute; 
        height: 185px; 
        left: 150px
    }
    .logo-name{
        width: 180px; 
        margin-top: 170px;
    }
    .login-card{
        margin-top: 20px;
    }
}